@model LatinMedia.Core.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="section-headline-wrap">
    <div class="section-headline">
        <h2> بازیابی کلمه عبور</h2>
        <p><a href="/">صفحه اصلی</a><span class="separator">/</span><span class="current-section">بازیابی کلمه عبور</span></p>
    </div>
</div>

<div class="section-wrap">
    <div class="section demo">

        <div class="form-popup ">

            <!-- FORM POPUP HEADLINE -->
            <div class="form-popup-content">
                <h4 class="popup-title"> بازنشانی گذرواژه</h4>
                <hr class="line-separator short">
            </div>




            <div class="form-popup-content">
                <form asp-action="ForgotPassword" method="post">

                    <label>شماره موبایل</label>
                    <input type="text" asp-for="Mobile" placeholder="شماره موبایل خود را وارد کنید" onkeypress="return onlyNumberKey(event)" maxlength="11">
                    <span asp-validation-for="Mobile"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img id="img-captcha" src="~/get-captcha-image" />
                        </div>
                        <input type="text" class="form-control" placeholder="کد امنیتی" asp-for="CaptchaCode" maxlength="4" />
                        <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="submit" class="button mid secondary-dark" value="ارسال" />
                </form>
            </div>
            <!-- /FORM POPUP CONTENT -->
        </div>

        <div class="clearfix"></div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#img-captcha").click(function () {
            resetCaptchaImage();
        });

        function resetCaptchaImage() {
            d = new Date();
            $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
        }
    </script>

    <script>
        function onlyNumberKey(evt) {

            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    </script>
}








