<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="/InspectorPanel/">
                <i class="material-icons">dashboard</i>
                <p>داشبورد</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/InspectorPanel/ChangePassword">
                <i class="material-icons ">vpn_key</i>
                <p>تغییر کلمه عبور</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/InspectorPanel/MyOrders/ActiveCourses">
                <i class="material-icons">language</i>
                <p>کلاس های در حال اجرا</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link btn-danger" href="/LogoutInspector">
                <i class="material-icons">exit_to_app</i>
                <p>خروج</p>
            </a>
        </li>
    </ul>
</div>