@{
    ViewData["Title"] = "دانلود محتوای هفته ناجا 1400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-headline-wrap">
    <div class="section-headline">
        <h2>دانلود محتوای هفته ناجا 1400</h2>
        <p><a href="/">صفحه اصلی</a><span class="separator">/</span><span class="current-section">دانلود محتوای هفته ناجا 1400</span></p>
    </div>
</div>

<div class="section-wrap">
    <div class="section demo">


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <br />
            <h3 style="text-align: center">دانلود محتوای هفته ناجا 1400 </h3>
            <hr />
            <br />
            <hr />
            <br />
            <div class="embed-responsive embed-responsive-4by3 embed-responsive-16by9">
                <h5 style="color:black">
                    برای دانلود فایل
                    <a href="~/upload/hafte_naja1400.rar"> اینجا </a>
                    کلیک کنید | حجم فایل 1.00 گیگابایت
                </h5>

            </div>
        </div>
        <hr />
        <br />
        <div class="clearfix"></div>
        <div class="col-12 text-center" style="margin-top:20px">
            <a href="/" class="btn btn-outline-success">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</div>
