@{
    ViewData["Title"] = "راهنمای آموزش ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-headline-wrap">
    <div class="section-headline">
        <h2> راهنمای آموزش ثبت نام</h2>
        <p><a href="/">صفحه اصلی</a><span class="separator">/</span><span class="current-section">راهنمای آموزش ثبت نام</span></p>
    </div>
</div>

<div class="section-wrap">
    <div class="section demo">

        
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <br />
                <h3 style="text-align: center">آمورش ثبت نام </h3>
                <hr />
                <br />
                <div class="embed-responsive embed-responsive-4by3 embed-responsive-16by9">
                    <video controls="controls" style="text-align:center;border-radius: 20px; box-shadow:20px; height:60%; width:80%">
                        <source src="~/upload/online%20samane%20Aeen%20nameh2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        
        <div class="clearfix"></div>
        <div class="col-12 text-center" style="margin-top:20px">
            <a href="/" class="btn btn-outline-success">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</div>
