@page
@model LatinMedia.Web.Pages.Leon.Report.FinishedClassReportModel
@{
    ViewData["Title"] = "FinishedClassReport";
    Layout = "~/Pages/Shared/_LeonLayout.cshtml";
}

<h2>FinishedClassReport</h2>

